@import '../styles/utils.scss';
@import '../styles/variables.scss';

.Portfolio {
  .webStuffContainer,
  .otherStuffContainer {
    text-align: center;

    h2 {
      margin: 0 0 $spacePx * 3 0;
    }
  }

  .webStuffContainer {
    padding: $spacePx * 2 0;

    @include respond-to(medium-screen) {
      padding: $spacePx * 4 0;
    }
  }

  .otherStuffContainer {
    padding: 0 0 $spacePx * 2 0;

    @include respond-to(medium-screen) {
      padding: 0 0 $spacePx * 4 0;
    }
  }

  .webStuffThumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .webStuffThumb {
    color: $colorSecondary;
    display: block;
    margin: 0 0 $spacePx * 3 0;
    text-decoration: none;

    @include respond-to(medium-screen) {
      width: calc(50% - (#{$spacePx} * 1.5);
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    img {
      width: 100%;
      height: auto;
    }

    h3 {
      margin: $spacePx * .5 0 0 0;
    }
  }

  .otherStuffThumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .otherStuffThumb {
    color: $colorPrimary;
    display: block;
    text-decoration: none;
    margin: 0 $spacePx $spacePx * 3 $spacePx;
    max-width: calc(50% - #{$spacePx} * 2;
      @include transition;

    @include respond-to(large-screen) {
      max-width: calc(25% - #{$spacePx} * 2;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    img {
      border: 2px solid $colorBlack;
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }
}
