@import '../styles/utils.scss';
@import '../styles/variables.scss';

.WorkPage {

  .headerContainer {
    background: $colorAccent;
    padding: $spacePx * 4 0 $spacePx * 3.5;
    text-align: center;

    @include respond-to(medium-screen) {
      padding: $spacePx * 6 0 $spacePx * 5.5;
    }

    h1 {
      margin: $spacePx * .5 0 $spacePx;
    }
  }

  .headerContainerAlt {
    padding: $spacePx * 4 0 $spacePx * 2;
    text-align: center;

    @include respond-to(medium-screen) {
      padding: $spacePx * 6 0 $spacePx * 4;
    }
  }

  .contentContainer {
    margin-top: $spacePx * -2;

    @include respond-to(medium-screen) {
      margin-top: $spacePx * -3;
    }
  }

  .row.showcase {
    margin-bottom: $spacePx * 2;
    @include respond-to(medium-screen) {
      margin-bottom: $spacePx * 3
    }
  }

  .row.intro {
    margin-bottom: $spacePx * 2;

    @include respond-to(medium-screen) {
      margin-bottom: $spacePx * 4;
    }
  }

  img {
    max-width: 100%;

    &.outline {
      border: 1px solid $colorFaintGray;
    }

    &.padding {
      box-sizing: border-box;
      padding: $spacePx * 1.5;
    }
  }

  small {
    margin: $spacePx * .75 auto 0;
    max-width: 600px;
    width: 100%;
  }
}
