$columnGutter: $spacePx * 2;

.Grid {

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: $spacePx * 2;

    @include respond-to(medium-screen) {
      margin-bottom: $spacePx * 3;
    }

    &.alignBottom {
      align-items: flex-end;
    }

    &.halfMargin {
      margin-bottom: $spacePx;

      @include respond-to(medium-screen) {
        margin-bottom: $spacePx;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  [class^="col"] {
    margin: 0 $columnGutter / 2 0;
    width: columns(12, 12);
    text-align: left;
  }

  @include respond-to(medium-screen) {
    [class*="_12-12"] {
      width: calc(#{columns(12, 12)} - #{$columnGutter})
    }

    [class*="_10-12"] {
      width: calc(#{columns(10, 12)} - #{$columnGutter})
    }

    [class*="_8-12"] {
      width: calc(#{columns(8, 12)} - #{$columnGutter})
    }

    [class*="_5-12"] {
      width: calc(#{columns(5, 12)} - #{$columnGutter})
    }

    [class*="_1-2"] {
      width: calc(#{columns(6, 12)} - #{$columnGutter});
    }

    [class*="_1-3"] {
      width: calc(#{columns(4, 12)} - #{$columnGutter})
    }

    [class*="_2-3"] {
      width: calc(#{columns(8, 12)} - #{$columnGutter})
    }
  }
}
