h1 {
  font-size: px-to-rem(40);
  font-family: $fontSans;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(60);
  }
}

h2 {
  font-size: px-to-rem(32);
  font-family: $fontSans;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(40);
  }
}

h3 {
  font-size: px-to-rem(24);
  font-family: $fontSans;
  font-weight: 800;
  margin: 0;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(28);
  }
}

h4 {
  font-size: px-to-rem(14);
  font-family: $fontSans;
  font-weight: 800;
  margin: 0;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(16);
  }
}

h5 {
  font-size: px-to-rem(11);
  font-family: $fontSans;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(12);
  }
}

h6 {
  font-size: px-to-rem(12);
  font-family: $fontSans;
  font-weight: 700;
  margin: 0;
  color: $colorGray;

  @include respond-to(medium-screen) {
    font-size: px-to-rem(13);
  }
}

p {
  font-size: px-to-rem(18);
  font-family: $fontSans;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 $spacePx 0;

  &:last-child {
    margin: 0;
  }
}

small {
  display: block;
  font-size: px-to-rem(15);
  font-family: $fontSans;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: $spacePx;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  font-size: px-to-rem(19);
  font-family: $fontSerif;
  line-height: 1.5;
  margin: 0 0 $spacePx 0;

  &:last-child {
    margin: 0;
  }
}

a {
  color: $colorBlack;
  @include transition;

  &:hover {
    color: $colorLink;
  }
}

strong {
  font-weight: 900;
}
