// Colors
$colorBlack: #000;
$colorWhite: #fff;

$colorPrimary: #189DFF;
$colorSecondary: #FF8250;
$colorAccent: #F5F0EA;
$colorLink: #189DFF;

$colorGray: rgba($colorBlack, .4);
$colorFaintGray: rgba($colorBlack, .1);

// Fonts
$fontSans: 'Nunito Sans', sans-serif;
$fontSerif: serif;

// Space Units
$space: 16;
$spacePx: 16px;

// Border Radius
$borderRadius: 4px;
