h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin: 0; }
  @media screen and (min-width: 750px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 1.875rem;
  font-family: "Georgia", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0; }
  @media screen and (min-width: 750px) {
    h2 {
      font-size: 2.125rem; } }

h3 {
  color: #84807A;
  font-size: 1.5625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0; }
  h3.alt {
    color: #EC2E2E; }
  @media screen and (min-width: 750px) {
    h3 {
      font-size: 1.6875rem; } }

h4 {
  color: #84807A;
  font-size: 1.3125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0; }
  h4.alt {
    color: #EC2E2E; }

p {
  font-size: 1.1875rem;
  font-family: "Georgia", serif;
  line-height: 1.5;
  margin: 0 0 16px 0; }
  p:last-child {
    margin: 0; }

ul {
  font-size: 1.1875rem;
  font-family: "Georgia", serif;
  line-height: 1.5;
  margin: 0 0 16px 0; }
  ul:last-child {
    margin: 0; }

a {
  color: #84807A; }

h1 {
  color: red !important; }
