@import '../styles/utils.scss';
@import '../styles/variables.scss';

.NavigationHeader {
  background: $colorAccent;
  color: $colorBlack;
  padding: $spacePx * 4 0 $spacePx * 2;
  text-align: center;

  @include respond-to(medium-screen) {
    padding: $spacePx * 8 0 $spacePx * 6;
  }

  .link-one {
    color: $colorSecondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .link-two {
    color: $colorPrimary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .strike-one,
  .strike-two {
    text-decoration: line-through;
  }
}
